elseif ($_GET[module]=='tensip'){
$id_sewa=$_POST[id_sewa];
 $user= $_SESSION[namauser];
 $password=$_SESSION[passuser];
    echo "
          <div class='prod_box_big'>
        	<div class='top_prod_box_big'></div>
        <div class='center_prod_box_big'>            
          <div class='details_big_cari'>
              <div>
          <form method=post action=media.php?module=simpantensip>
		  
		  <table>
		<tr><td>ID Sewa</td><td> : <input type=text name=id_sewa value='$id_sewa' disabled/></td></tr>
      
      <tr><td>Tanggal Kerja</td><td> : <input type=date name=tgl_kerja  />
     </td></tr>
     ";

// Tampilkan alat-alat yang telah dimasukkan ke keranjang belanja
	$sid = session_id();
	$sql = mysql_query("SELECT alat.nama_alat FROM tensip_peminjaman, alat WHERE tensip_peminjaman.no_alat=alat.no_alat 
AND tensip_peminjaman.id_sewa='$id_sewa'");
 
 $user= $_SESSION[namauser];
 $password=$_SESSION[passuser];


echo "
		  
		  
          <table border=1 width=620px height=300px cellpadding=3 align=center>
          <tbody>
          <tr bgcolor=#ffffff><th>No</th><th width='120px'>Nama alat</th><th>Jam Mulai</th><th>Jam Selesai</th>
          <th>Total Jam</th><th>Hapus</th></tr>";  
  
  $no=1;
  while($r=mysql_fetch_array($sql)){
  
    $disc        = ($r[diskon]/100)*$r[harga];
    $hargadisc   = number_format(($r[harga]-$disc),0,",",".");

   
	$subtotal    = ($r[harga]-$disc) * $r[totaljam]*$r[banyak];
	 
    $total       = $total + $subtotal;  
    $subtotal_rp = format_rupiah($subtotal);
	
    $total_rp    = format_rupiah($total);
    $harga       = format_rupiah($r[harga]);
    
    echo "<tr bgcolor=#ffffff><td>$no</td>
              <input type=hidden name=id[$no] value=$r[id_sewa]>
			  
              <td>$r[nama_alat]</td>
				<td><input type=text name=jam_mulai[$no] style='width:90%;'></td>
              <td><input type=text name=jam_selesai[$no] style='width:90%;'></td>
              <td><input type=text name=subtotal_jam[$no] style='width:70%;'></td>
              <td align=center><a href='aksitensip.php?module=tensip&act=hapus&id=$r[no_tensip_sementara]'>
              <img src=images/kali.png border=0 title=Hapus></a></td>
          </tr>";
		  
    $no++; 
	
  
  } 
  
  
  
  echo " <tr><td colspan=5 align=right><br><b>Total</b>:</td><td colspan=2><br>Rp. <b>$total_rp</b></td></tr>
        <tr><td colspan=3><br /><a href='media.php?module=home' class='button'>Lanjutkan Belanja</a><br /></td>
        <td colspan=5 align=right><br /><br /></td></tr> <tr><td>&nbsp;</td><td> : <input type=submit name=submit Value=PROSES size=40></td></tr>
        </tbody></table></form><br />
        
        </div>
        
          </div>    
          </div>
            <div class='bottom_prod_box_big'></div>
          </div>";
  

    	                      
}